.picker__day.picker__day--selected.picker__day--highlighted
{
	font-weight: 900;
	border-color: rgba(0,0,0,0.2);
    color: #000;
    background-color: #59ad59;
    border-color: #59ad59;
    position: relative;
}
.picker__day.picker__day--selected.picker__day--highlighted:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 0.5em solid #90EE90;
    border-left: 0.5em solid transparent;
}
.picker__day.picker__day--infocus:hover
{
	background-color: #1b9891;
	color: #90EE90;
	border-color: #1b9891;
}
.picker__day.picker__day--infocus, .picker__day.picker__day--infocus.picker__day--today
{
	background-color: #90EE90;
	border-color:  #90EE90;
    font-weight: 300;
}
.picker__day.picker__day--outfocus, .picker__day.picker__day--disabled
{
	background-color: #f7f7f7;
	border-color:  #f7f7f7;
}

.picker__day.picker__day--outfocus:hover, .picker__day.picker__day--disabled:hover
{
	background-color: #eeeeee;
	border-color:  #eeeeee;
	color: #bbbbbb;
}